header{
    width: 100%;
    gap: 10px 0px;
}

header h1 {
    background-color: white;
    margin: 0px auto 50px auto;
    width: 500px;
}

.secondWrapper {
    background-color: lightgrey;
    padding: 30px;
}
.postcard {
    width: 500px;
    height: 450px;
    margin: auto;
    padding-bottom: 150px;

}

.postcard-header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
}

.postcard-header h1 {
    font-size: 20px;
}

.postcard-header div {
    margin: auto 0px auto auto;
}

.postcard-body {
    width: 100%;
    height: 100%;
}

.postcard-body img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.postcard-footer {
    background-color: aqua;
}

.postcard-footer p {
    margin: 0;
    padding: 5px;
}