/*header{
    width: 100%;
    gap: 10px 0px;
}

header h1 {
    background-color: white;
    margin: 0px auto 50px auto;
    width: 500px;
}

.secondWrapper {
    background-color: lightgrey;
    padding: 30px;
}
.postcard {
    width: 500px;
    height: 450px;
    margin: auto;
    padding-bottom: 150px;

}

.postcard-header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 0px 5px 0px 5px;
}

.postcard-header h1 {
    font-size: 20px;
}

.postcard-header div {
    margin: auto 0px auto auto;
}

.postcard-body {
    width: 100%;
    height: 100%;
}

.postcard-body img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.postcard-footer {
    background-color: aqua;
}

.postcard-footer p {
    margin: 0;
    padding: 5px;
}*/

.post {
    height: 600px;
    width: 700px;
    margin: auto;
    font-family: "Roboto Serif", serif;
}

.post .post-header {
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    font-size: 18px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}

.post .post-header .img-point-vertical{
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 30px;
}

.post .post-header img {
    width: 40px;
    height: 40px;
}

.post .post-header h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.post .post-img {
    width: 100%;
    height: 100%;
}

.post .post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post .post-body {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.post .post-body .post-icons {
    width: 100%;
    display: flex;
    font-size: 30px;
    gap: 10px;
}

.post .post-body .post-icons .img-save-regular{
    display: flex;
    align-items: center;
    margin-left: auto;
    
}